html {
    background-image: url("../images/backgroundSky.jpg");
    background-repeat:no-repeat ;
    background-size: cover;
    height: 100%;
    width: auto;
    /* averiguar image-set() */
}

.quoteContainer {
    display: grid;
    margin: 20% 35% ;
    border: 2px solid black;
    width: 25em;
    min-height: 2.5em;
    height: fit-content;
    border-radius: 10px;
    background-color: cornflowerblue;
    opacity: 0.8;
}

.quote {
    font-size: 1.5em;
    color: rgba(216, 0, 0, 0.999);
    font-weight: 900;
}

.author {
    color: black;
    font-weight: 900;
    font-family: 'Comic Sans MS';
    justify-self: flex-end;
}

.startTheMagicSpanish {
    position: absolute;
    right: 45%;
    bottom: 20%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.startTheMagicEnglish {
    position: absolute;
    right: 55%;
    bottom: 20%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

img {
    object-fit: scale-down ;
    /* object-fit: fill; */
    max-width: 100%;
    max-height: auto;
    align-self: center;
    margin: 0;
    overflow: hidden;
}
